<nav class="nav flex-column">
    <NavLink href="/register" class="nav-link text-dark mb-2" activeClass="active">
        <i class="bi bi-person-plus me-2"></i> Register
    </NavLink>

    <NavLink href="/login" class="nav-link text-dark mb-2" activeClass="active">
        <i class="bi bi-box-arrow-in-right me-2"></i> Log in
    </NavLink>

    <NavLink href="/tasks" class="nav-link text-dark mb-2" Match="NavLinkMatch.All" activeClass="active">
        <i class="bi bi-card-checklist me-2"></i> Tasks
    </NavLink>
</nav>
